HELP.md
#!**/src/main/**/application.yml
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/classes/
!**/src/test/**/build/generated/
!**/src/test/**/build/reports/
!**/src/test/**/build/resources/
!**/src/test/**/build/test-results/
!**/src/test/**/build/tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
